*.iml
.gradle/
.gradle-home/
.kotlin/
/local.properties
/keystore/
/.idea/
.DS_Store
/build/
/app/build/
/captures
.externalNativeBuild
.cxx
/tools/crepe/.venv/
/tools/crepe/input/
/tools/crepe/output/
